# This updated version was done based on Julian's previous worked file COVID_Data_Explore 11.ipynb to use the most recent file only

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'~/Desktop/covid/COVID_Cases_Restricted_Detailed_10312020.csv')

In [3]:
df.head(10)

,race_ethnicity_combined,current_status,cdc_report_dt,sex,onset_dt,pos_spec_dt,hosp_yn,icu_yn,death_yn,hc_work_yn,...,sob_yn,nauseavomit_yn,headache_yn,abdom_yn,diarrhea_yn,medcond_yn,county_fips_code,res_county,res_state,age_group
0,"White, Non-Hispanic",Laboratory-confirmed case,2020-10-01,Male,2020-08-26,NaN,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,31001.0,ADAMS,NE,10 - 19 Years
1,"White, Non-Hispanic",Laboratory-confirmed case,2020-08-23,Male,2020-07-07,NaN,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,31001.0,ADAMS,NE,10 - 19 Years
2,"White, Non-Hispanic",Laboratory-confirmed case,2020-10-01,Male,2020-09-02,NaN,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,31001.0,ADAMS,NE,10 - 19 Years
3,"White, Non-Hispanic",Laboratory-confirmed case,2020-10-01,Male,2020-09-01,NaN,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,31001.0,ADAMS,NE,10 - 19 Years
4,"White, Non-Hispanic",Laboratory-confirmed case,2020-09-18,Male,2020-09-01,NaN,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,31001.0,ADAMS,NE,10 - 19 Years
5,"White, Non-Hispanic",Laboratory-confirmed case,2020-10-08,Male,2020-08-26,NaN,Missing,Missing,Missing,Missing,...,Missing,Missing,Missing,Missing,Missing,Missing,31001.0,ADAMS,NE,10 - 19 Years
6,"White, Non-Hispanic",Laboratory-confirmed case,2020-08-31,Male,2020-08-22,NaN,Missing,No,No,No,...,No,Yes,Yes,No,No,Yes,39003.0,ALLEN,OH,40 - 49 Years
7,"White, Non-Hispanic",Laboratory-confirmed case,2020-10-05,Male,2020-09-27,2020-09-29,No,No,No,No,...,No,No,Yes,No,No,No,39003.0,ALLEN,OH,40 - 49 Years
8,"White, Non-Hispanic",Laboratory-confirmed case,2020-09-15,Male,2020-09-02,NaN,No,No,No,No,...,No,No,Yes,No,No,No,39003.0,ALLEN,OH,40 - 49 Years
9,"White, Non-Hispanic",Laboratory-confirmed case,2020-07-06,Male,2020-04-12,NaN,Yes,No,No,No,...,Yes,No,No,No,No,Yes,39003.0,ALLEN,OH,40 - 49 Years

In [4]:
df.tail(10)

,race_ethnicity_combined,current_status,cdc_report_dt,sex,onset_dt,pos_spec_dt,hosp_yn,icu_yn,death_yn,hc_work_yn,...,sob_yn,nauseavomit_yn,headache_yn,abdom_yn,diarrhea_yn,medcond_yn,county_fips_code,res_county,res_state,age_group
5760056,Unknown,Laboratory-confirmed case,2020-08-21,Male,2020-08-21,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760057,Unknown,Laboratory-confirmed case,2020-08-21,Male,2020-08-21,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760058,Unknown,Laboratory-confirmed case,2020-08-27,Male,2020-08-27,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760059,Unknown,Laboratory-confirmed case,2020-10-04,Male,2020-10-04,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760060,Unknown,Laboratory-confirmed case,2020-09-26,Male,2020-09-26,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760061,Unknown,Laboratory-confirmed case,2020-09-06,Male,2020-09-06,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760062,Unknown,Laboratory-confirmed case,2020-08-24,Male,2020-08-24,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760063,Unknown,Laboratory-confirmed case,2020-09-23,Male,2020-09-23,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760064,Unknown,Laboratory-confirmed case,2020-08-21,Male,2020-08-21,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years
5760065,Unknown,Laboratory-confirmed case,2020-08-25,Male,2020-08-25,NaN,No,Missing,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,6115.0,Yuba,CA,40 - 49 Years

In [5]:
#most of the ages are included
df['age_group'].value_counts()

20 - 29 Years    1122745
30 - 39 Years     939535
40 - 49 Years     872746
50 - 59 Years     845042
60 - 69 Years     590519
10 - 19 Years     540322
70 - 79 Years     332399
80+ Years         280341
0 - 9 Years       185308
Unknown             6822
Name: age_group, dtype: int64

In [6]:
#most of the races are unknown
df['race_ethnicity_combined'].value_counts()

Unknown                                                 2288379
White, Non-Hispanic                                     1529876
Hispanic/Latino                                          892783
Black, Non-Hispanic                                      556066
Multiple/Other, Non-Hispanic                             144115
Asian, Non-Hispanic                                       87184
American Indian/Alaska Native, Non-Hispanic               32623
Native Hawaiian/Other Pacific Islander, Non-Hispanic       7787
Name: race_ethnicity_combined, dtype: int64

In [7]:
df['sex'].value_counts()

Female     2927192
Male       2691526
Unknown      46521
Missing       6990
Other            6
Name: sex, dtype: int64

In [8]:
df['death_yn'].value_counts()

No         2662955
Missing    2321809
Unknown     617047
Yes         158255
Name: death_yn, dtype: int64

In [9]:
#no conty fips code is missing
df['county_fips_code'].value_counts()

17031.0    162142
4013.0     146035
12086.0    127427
36059.0     84950
32003.0     77706
            ...
29103.0         2
29087.0         2
31095.0         2
48193.0         1
29223.0         1
Name: county_fips_code, Length: 3072, dtype: int64

In [10]:
#no res_conty is missing
df['res_county'].value_counts()

Cook                 162481
Maricopa             146035
Miami-Dade           127427
Suffolk               99921
Nassau                85781
                      ...
YOUNG                     5
Anne Arundel              5
ARANSAS                   5
Aguas Buenas              5
KETCHIKAN GATEWAY         5
Name: res_county, Length: 2139, dtype: int64

In [11]:
#Change some series data types to datetime
df['onset_dt'] = pd.to_datetime(df['onset_dt'], yearfirst = True)
df['pos_spec_dt'] = pd.to_datetime(df['pos_spec_dt'], yearfirst = True)
df['cdc_report_dt'] = pd.to_datetime(df['cdc_report_dt'], yearfirst = True, utc = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5760066 entries, 0 to 5760065
Data columns (total 31 columns):
 #   Column                   Dtype
---  ------                   -----
 0   race_ethnicity_combined  object
 1   current_status           object
 2   cdc_report_dt            datetime64[ns, UTC]
 3   sex                      object
 4   onset_dt                 datetime64[ns]
 5   pos_spec_dt              datetime64[ns]
 6   hosp_yn                  object
 7   icu_yn                   object
 8   death_yn                 object
 9   hc_work_yn               object
 10  pna_yn                   object
 11  abxchest_yn              object
 12  acuterespdistress_yn     object
 13  mechvent_yn              object
 14  fever_yn                 object
 15  sfever_yn                object
 16  chills_yn                object
 17  myalgia_yn               object
 18  runnose_yn               object
 19  sthroat_yn               object
 20  cough_yn                 object
 21  sob_yn                   object
 22  nauseavomit_yn           object
 23  headache_yn              object
 24  abdom_yn                 object
 25  diarrhea_yn              object
 26  medcond_yn               object
 27  county_fips_code         float64
 28  res_county               object
 29  res_state                object
 30  age_group                object
dtypes: datetime64[ns, UTC](1), datetime64[ns](2), float64(1), object(27)
memory usage: 1.3+ GB

In [12]:
#it looks like most of the descriptive data (columns hosp_yn to medcond_yn is missing)
for x in range(6,27):
    print(df.iloc[:,x].value_counts())

No         2549669
Missing    2048402
Unknown     717791
Yes         444204
Name: hosp_yn, dtype: int64
Missing    4153363
Unknown     917422
No          634175
Yes          55106
Name: icu_yn, dtype: int64
No         2662955
Missing    2321809
Unknown     617047
Yes         158255
Name: death_yn, dtype: int64
Missing    3798884
No         1147859
Unknown     406528
Yes         146307
Name: hc_work_yn, dtype: int64
Missing    4164270
Unknown     910704
No          620703
Yes          64389
Name: pna_yn, dtype: int64
Missing    4539939
Unknown     873537
No          298273
Yes          44862
Name: abxchest_yn, dtype: int64
Missing    4398097
Unknown     745061
No          601668
Yes          15240
Name: acuterespdistress_yn, dtype: int64
Missing    4213429
Unknown     950481
No          569245
Yes          26911
Name: mechvent_yn, dtype: int64
Missing    3999724
Unknown     795608
No          574735
Yes         389999
Name: fever_yn, dtype: int64
Missing    4238750
Unknown     805888
No          420454
Yes         294974
Name: sfever_yn, dtype: int64
Missing    3950270
Unknown     880535
No          559585
Yes         369676
Name: chills_yn, dtype: int64
Missing    3886662
Unknown     867872
Yes         525211
No          480321
Name: myalgia_yn, dtype: int64
Missing    4795387
Unknown     487852
No          302045
Yes         174782
Name: runnose_yn, dtype: int64
Missing    3910204
Unknown     889703
No          619839
Yes         340320
Name: sthroat_yn, dtype: int64
Missing    3837443
Unknown     834147
Yes         667093
No          421383
Name: cough_yn, dtype: int64
Missing    3899212
Unknown     867964
No          687196
Yes         305694
Name: sob_yn, dtype: int64
Missing    3908889
Unknown     881919
No          790524
Yes         178734
Name: nauseavomit_yn, dtype: int64
Missing    3881521
Unknown     866886
Yes         566161
No          445498
Name: headache_yn, dtype: int64
Missing    4241117
Unknown     781399
No          635489
Yes         102061
Name: abdom_yn, dtype: int64
Missing    3923166
Unknown     882391
No          686578
Yes         267931
Name: diarrhea_yn, dtype: int64
Missing    3976510
Yes         647375
Unknown     634512
No          501669
Name: medcond_yn, dtype: int64

In [13]:
pd.options.display.float_format = '{:.2f}'.format
pd_pivot = pd.pivot_table(df, columns=['race_ethnicity_combined'], index=['res_state'], values ='cdc_report_dt', aggfunc = 'count')
pd_pivot['PercentUnknown'] = pd_pivot['Unknown']/pd_pivot.sum(axis=1)
pd_pivot['TotalCases'] = pd_pivot.sum(axis=1)
pd_pivot.sort_values(by=['TotalCases'], ascending = False)

race_ethnicity_combined,"American Indian/Alaska Native, Non-Hispanic","Asian, Non-Hispanic","Black, Non-Hispanic",Hispanic/Latino,"Multiple/Other, Non-Hispanic","Native Hawaiian/Other Pacific Islander, Non-Hispanic",Unknown,"White, Non-Hispanic",PercentUnknown,TotalCases
res_state,,,,,,,,,,
NY,109.00,10920.00,42454.00,56794.00,16745.00,5.00,387609.00,71254.00,0.66,585890.66
FL,43.00,2742.00,69872.00,150841.00,16678.00,123.00,130911.00,112871.00,0.27,484081.27
CA,202.00,13409.00,9141.00,42.00,18338.00,702.00,291537.00,43417.00,0.77,376788.77
IL,155.00,5834.00,34717.00,81568.00,6263.00,318.00,126043.00,78914.00,0.38,333812.38
NC,1327.00,1973.00,31872.00,50354.00,2830.00,42.00,78999.00,70347.00,0.33,237744.33
GA,5.00,1621.00,30261.00,14992.00,nan,94.00,148101.00,40678.00,0.63,235752.63
NJ,5.00,6082.00,20998.00,34863.00,10001.00,12.00,100602.00,57392.00,0.44,229955.44
AZ,11731.00,1808.00,6346.00,70072.00,3380.00,278.00,78891.00,51972.00,0.35,224478.35
TN,63.00,1328.00,35186.00,24681.00,9560.00,25.00,27839.00,111516.00,0.13,210198.13
PA,nan,1212.00,8128.00,13941.00,2320.00,nan,114139.00,31209.00,0.67,170949.67
AL,12.00,336.00,32848.00,7720.00,3725.00,nan,68567.00,53631.00,0.41,166839.41
SC,5.00,442.00,35484.00,11760.00,2344.00,nan,56055.00,54080.00,0.35,160170.35
OH,nan,3020.00,26547.00,8651.00,5388.00,33.00,34308.00,80203.00,0.22,158150.22
VA,5.00,3578.00,25615.00,35408.00,3345.00,20.00,43943.00,42026.00,0.29,153940.29
MA,6.00,2965.00,12270.00,34083.00,13400.00,nan,40597.00,45522.00,0.27,148843.27
IN,nan,798.00,7327.00,10377.00,6774.00,10.00,56092.00,48285.00,0.43,129663.43
MD,11.00,590.00,13157.00,9955.00,1332.00,nan,78897.00,12263.00,0.68,116205.68
OK,nan,nan,nan,nan,nan,nan,113130.00,nan,1.00,113131.00
WI,569.00,1602.00,5701.00,15295.00,1928.00,5.00,15608.00,71059.00,0.14,111767.14
MN,497.00,5525.00,17003.00,15726.00,2443.00,20.00,10003.00,60436.00,0.09,111653.09
WA,662.00,2516.00,3046.00,26169.00,1936.00,1143.00,33238.00,22713.00,0.36,91423.36
IA,189.00,2215.00,4035.00,11161.00,654.00,135.00,13881.00,58896.00,0.15,91166.15
UT,920.00,1551.00,1183.00,27000.00,1268.00,2659.00,9423.00,45910.00,0.10,89914.10
NV,98.00,3474.00,5027.00,35703.00,1871.00,529.00,26418.00,15797.00,0.30,88917.30
MI,15.00,1016.00,10518.00,7743.00,4205.00,nan,10587.00,40058.00,0.14,74142.14
KS,149.00,1070.00,3453.00,15321.00,710.00,nan,14662.00,28927.00,0.23,64292.23
CT,6.00,616.00,6474.00,11137.00,19.00,nan,26324.00,18428.00,0.42,63004.42
CO,62.00,770.00,1840.00,19712.00,670.00,13.00,18523.00,16273.00,0.32,57863.32
AR,nan,485.00,10489.00,11373.00,240.00,749.00,3070.00,28010.00,0.06,54416.06
TX,nan,511.00,5735.00,20233.00,nan,nan,11174.00,10512.00,0.23,48165.23
ID,287.00,103.00,158.00,7651.00,1211.00,19.00,19383.00,18736.00,0.41,47548.41
MS,270.00,27.00,19053.00,1415.00,83.00,nan,9944.00,13610.00,0.22,44402.22
OR,521.00,859.00,1032.00,14232.00,475.00,460.00,5246.00,13879.00,0.14,36704.14
NM,9341.00,154.00,395.00,16099.00,62.00,nan,3802.00,4528.00,0.11,34381.11
DE,nan,nan,10.00,2939.00,nan,nan,18254.00,10.00,0.86,21213.86
NE,nan,332.00,757.00,6505.00,62.00,nan,3794.00,9664.00,0.18,21114.18
KY,nan,197.00,1046.00,1516.00,57.00,nan,3144.00,11554.00,0.18,17514.18
MT,2678.00,8.00,34.00,438.00,495.00,nan,2566.00,10533.00,0.15,16752.15
DC,nan,145.00,7456.00,3776.00,365.00,7.00,2439.00,1915.00,0.15,16103.15
ND,459.00,107.00,nan,nan,nan,nan,15198.00,nan,0.96,15764.96
MO,nan,229.00,4172.00,1666.00,438.00,nan,3794.00,5265.00,0.24,15564.24
LA,nan,nan,2586.00,125.00,nan,nan,11716.00,983.00,0.76,15410.76
HI,nan,3684.00,55.00,307.00,1313.00,nan,5173.00,611.00,0.46,11143.46
AK,1699.00,378.00,285.00,666.00,338.00,386.00,3009.00,2833.00,0.31,9594.31
NH,nan,133.00,281.00,944.00,97.00,nan,1024.00,5299.00,0.13,7778.13
PR,nan,nan,nan,406.00,nan,nan,6752.00,nan,0.94,7158.94
SD,396.00,458.00,495.00,822.00,41.00,nan,1547.00,1248.00,0.31,5007.31
ME,nan,66.00,815.00,111.00,13.00,nan,679.00,2907.00,0.15,4591.15
WV,nan,nan,107.00,157.00,17.00,nan,199.00,2495.00,0.07,2975.07
VT,nan,27.00,114.00,nan,nan,nan,13.00,916.00,0.01,1070.01
GU,nan,268.00,nan,nan,670.00,nan,53.00,nan,0.05,991.05
RI,nan,nan,nan,nan,nan,nan,948.00,nan,1.00,949.00
VI,nan,nan,488.00,276.00,11.00,nan,61.00,58.00,0.07,894.07
WY,126.00,nan,nan,57.00,nan,nan,173.00,233.00,0.29,589.29
NYC,nan,nan,nan,nan,nan,nan,297.00,nan,1.00,298.00